.shopBtn {
	border: 1px solid white;
	font-size: 15px;
	padding: 10px 20px;
}

.shopBtn2 {
	border: 1px solid black;
	font-size: 15px;
	padding: 13px 20px;
	color: white;
	background-color: black;
}

.subBtn {
	font-weight: 600;
	background-color: #000;
	color: #fff;
	font-size: 12px;
	letter-spacing: 0.2em;
}

.shopBtnL2 :hover.subBtn {
	color: #fff;
	background-color: #c5ac9b;
	border: none;
	padding: 14px 20px;
}

.shopBtnL :hover.shopBtn {
	color: white;
	background-color: black;
	padding: 10px 20px;
}

.banner-shadow {
	text-shadow: rgb(102, 102, 102) 3px 0 10px;
}
